/* BASIC CSS ... */

h1 {
    font-family: 'CS Freya Demo';
    font-size: 5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background-color: rgba(220, 118, 36, 0.988);
    margin-left: 200px;
    padding-top: 20px;
}

h2 {
    font-size: 30px;
    text-align: center;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.footer_grafik {
    display: flex;
    gap: 100px;
}


/* CLASS for header */
.header_grafik {
    background-color: rgba(220, 118, 36, 0.988);
    display: flex;
}

.bestell_logo {
    width: 200px;
    height: auto;
    background-color: rgba(220, 118, 36, 0.988);
    padding-top: 20px;
    padding-left: 10px;
}

.evaluation_grafik {
    background-color: rgba(220, 118, 36, 0.988);
}

.my_restaurant {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 3px;
}



/* CLASS for all dishes */
.dishes {
    width: calc(100% - 308px);
    flex-grow: 1;
}

.shopping_basket {
    width: 300px;
    flex-grow: 1;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin: 10px 3px 0 20px;
}

.img_grafik {
    width: 99%;
    height: 200px;
    margin: 10px 0 5px 20px;
    border-radius: 50% 50% 50% 50%;
    /* border-radius: 20px 20px 20px 20px; */
    object-fit: cover;
}

.single_dishes {
    width: 99%;
    height: 200px;
    background-color: white;
    margin: 0 0 20px 20px;
    border-radius: 20px 20px 20px 20px;
    padding-top: 5px;
    padding-left: 5px;
}

.dishes_and_button {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single_dishes_meal {
    font-size: 28px;
    font-style: italic;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.plus_grafik {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-right: 20px;
}

.plus_grafik:hover {
    width: 70px;
    height: 70px;
}

.single_dishes_discription {
    font-size: 18px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 50px;
}

.single_dishes_price {
    font-size: 28px;
    font-weight: bold;
    color: orange;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    padding-left: 5px;
}



/* CLASS for shoppingbasket */
.basket_grafik {
    position: sticky;
    top: 0;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

.selection_grafik {
    background-color: white;
}

.line_grafik {
    margin-top: 10px;
    margin-bottom: 10px;
}

.basket_meal {
    font-size: 12px;
    background-color: white;
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.price_box {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.basket_subtotal {
    color: grey;
    background-color: white;
    /* margin-top: 20px; */
}

.basket_total {
    font-weight: bold;
    background-color: white;
}

.icons_position {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons_disply_row {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons_disply_row_rubbish {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
}

.icon_grafik {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-left: 5px;
}

.icon_grafik:hover {
    width: 25px;
    height: 25px;
}

.icon_grafik_rubbish {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-left: 5px;
}

.icon_grafik_rubbish:hover {
    width: 25px;
    height: 25px;
}

.button_position {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button_grafik {
    font-size: 24px;
    color: white;
    border-radius: 10px 10px 10px 10px;
}


.button_grafik:hover {
    font-size: 28px;
    /* color: white;
    border-radius: 10px 10px 10px 10px; */
}

.box_for_error {
    width: 300px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.error_order_button {
    font-size: 20px;
    background-color: yellow;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    
}