/* BASIC CSS ... */

h1 {
    font-family: 'CS Freya Demo';
    font-size: 5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background-color: rgba(220, 118, 36, 0.988);
    margin-left: 200px;
    padding-top: 20px;
}

h2 {
    font-size: 30px;
    text-align: center;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.header_grafik {
    background-color: rgba(220, 118, 36, 0.988);
    display: flex;
}

.bestell_logo {
    width: 200px;
    height: auto;
    background-color: rgba(220, 118, 36, 0.988);
    padding-top: 20px;
    padding-left: 10px;
}

.my_restaurant {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 3px;
}

.dishes {
    width: calc(100% - 308px);
    flex-grow: 1;
}

.shopping_basket {
    width: 300px;
    flex-grow: 1;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin: 20px;
    margin-right: 3px;
}

/* .dishes_grafik {} */

.single_dishes {
    /* font-size: 40px; */
    width: 99%;
    height: 200px;
    background-color: white;
    margin: 20px;
    border-radius: 20px 20px 20px 20px;
    padding-top: 5px;
    padding-left: 5px;
}

.single_dishes_meal {
    font-size: 28px;
    font-style: italic;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.single_dishes_discription {
    font-size: 18px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 50px;
}

.single_dishes_price {
    font-size: 28px;
    font-weight: bold;
    color: orange;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    padding-left: 5px;
}

.basket_grafik {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

.selection_grafik {
    background-color: white;
}

.price_box {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px;

}

.basket_subtotal {
    color: grey;
    background-color: white;
}

.basket_total {
    font-weight: bold;
    background-color: white;
}